 <div>
   <form action="/New-Game">
      What's your name?
      <input type="text" name="name">
      <input type="submit" value="Submit">
      <% if @error %>
    No name entered!
    <%= @error %>
  <% end %>
   </form>
   <% if @visitor %>
    Registration successful 
    <%= @visitor %>
    <% end %>
</div>